{% extends 'layout.html' %} {% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Health</th>
      <th scope="col">Drops</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Flase Knight</td>
      <td>65 for the armour and 40 for the maggot inside</td>
      <td>City Crest</td>
      <td>Forgotten/Infected Crossroads</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Gruz Mother</td>
      <td>90</td>
      <td>Access to Salubra and unlocks Sly</td>
      <td>Forgotten/Infected Crossroads</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Brooding Mawlek</td>
      <td>300</td>
      <td>Mask Shard</td>
      <td>Forgotten/Infected Crossroads</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Hornet Protector</td>
      <td>225</td>
      <td>Mothwing cloak(dash)</td>
      <td>Greenpath</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Massive Moss Charger</td>
      <td>100</td>
      <td>300 geo</td>
      <td>Greenpath</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Brooding Mawlek</td>
      <td>300</td>
      <td>Mask Shard</td>
      <td>Forgotten/Infected Crossroads</td>
    </tr>
  </tbody>
</table>
{% endblock %}
