{% extends 'layout.html' %} {% block content %}
<p class="fs-5 p-2">
  Below is a helpful table for every single boss in Hollow Knight. They are
  ordered in the usual order you would fight them in. The table has the location
  of the boss, what the boss drops and the bosses health.
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Health</th>
      <th scope="col">Drops</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a class href="falseknight.html">False Knight</a></td>
      <td>65 for the armour and 40 for the maggot inside</td>
      <td>City Crest</td>
      <td>Forgotten/Infected Crossroads</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td><a class href="gruzmother.html">Gruz Mother</td>
      <td>90</td>
      <td>Access to Salubra and unlocks Sly</td>
      <td>Forgotten/Infected Crossroads</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a class href="broodingmawlek.html">Brooding Mawlek</td>
      <td>300</td>
      <td>Mask Shard</td>
      <td>Forgotten/Infected Crossroads</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><a class href="hornet1.html">Hornet Protector</td>
      <td>225</td>
      <td>Mothwing cloak(dash)</td>
      <td>Greenpath</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><a class href="MMM.html">Massive Moss Charger</td>
      <td>100</td>
      <td>300 geo</td>
      <td>Greenpath</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td><a class href="mantislords.html">Mantis Lords</td>
      <td>The first mantis has 210hp and the other two have 160hp</td>
      <td>Access to Mark Of Pride charm and the repect of the Mantis</td>
      <td>Fungal wastes</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Soul Master</td>
      <td>1st Phase has 275 and 2nd Phase has 110</td>
      <td>Desolate Dive</td>
      <td>Soul Sanctum</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Broken Vessel</td>
      <td>525</td>
      <td>Allows access to Monarch Wings(double jump)</td>
      <td>Ancient Basin</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Xero</td>
      <td>
        <li>Nail 1: 200</li>
        <li>Nail 2: 320</li>
        <li>Nail 3: 416</li>
        <li>Nail 4: 500</li>
        <li>Nail 5: 575</li>
      </td>
      <td>100 dream essence</td>
      <td>Resting Grounds</td>
    </tr>
  </tbody>
</table>
{% endblock %}
