{% extends 'layout.html' %} {% block content %}
<p class="fs-5">
  Below is a helpful table for every single boss in Hollow Knight. They are
  ordered in the usual order you would fight them in. The table has the location
  of the boss, what the boss drops and the bosses health.
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Health</th>
      <th scope="col">Drops</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a class href="falseknight.html">False Knight</a></td>
      <td>65 for the armour and 40 for the maggot inside</td>
      <td>City Crest</td>
      <td>Forgotten/Infected Crossroads</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Gruz Mother</td>
      <td>90</td>
      <td>Access to Salubra and unlocks Sly</td>
      <td>Forgotten/Infected Crossroads</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Brooding Mawlek</td>
      <td>300</td>
      <td>Mask Shard</td>
      <td>Forgotten/Infected Crossroads</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Hornet Protector</td>
      <td>225</td>
      <td>Mothwing cloak(dash)</td>
      <td>Greenpath</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Massive Moss Charger</td>
      <td>100</td>
      <td>300 geo</td>
      <td>Greenpath</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Mantis Lords</td>
      <td>The first mantis has 210hp and the other two have 160hp</td>
      <td>Access to Mark Of Pride charm and the repect of the Mantis</td>
      <td>Fungal wastes</td>
    </tr>
  </tbody>
</table>
{% endblock %}
